.tables1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.tables1 > div {
  flex: 1;
}
.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 118px;
}

.topseller {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  justify-content: center;
  padding-bottom: 80px;
}

.best1 {
  justify-self: center;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 90px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.sales {
  display: flex;
  justify-self: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #fff;
  align-items: center;
  padding: 15px;
  margin-bottom: 150px;
  margin-top: 40px;
}

.sales3 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.sales4 {
  margin-top: -210px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
}

.graphtitle1 {
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

.sales5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: -190px;
}

.navadmn {
  position: fixed;
  width: 100%;
  top: 0px;
}
