/* Add this to your CSS file */
.chart-container {
  display: flex;
  justify-self: center;
  width: 400px;
  height: 400px;
}

.products-container {
  display: flex;
  justify-self: center;
  width: 400px;
  height: 400px;
}

.products_graph {
  width: 800px; /* Adjust the width as needed */
  height: 100%;
  align-items: center;
}

.graphtitle {
  text-align: center;
}

.productholder {
  background-color: #fff;
}

.best {
  justify-content: center;
  justify-self: center;
  background-color: #fff;
  height: 120px;
  width: 270px;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 25px;
  align-items: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.icontop {
  font-size: 50px;
  padding-right: 18px;
}

.barg {
  display: flex;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #fff;
  justify-self: center;
  padding: 15px;
  margin-bottom: 150px;
  margin-top: 40px;
}

.barg3 {
  width: 800px; /* Adjust the width as needed */
  height: 100%;
  align-items: center;
}

.line-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: #fff;
  padding: 15px;
  width: 1180px;
  height: 850px;
  margin-top: 30px;
  margin-bottom: 90px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-left: 50px;
}

.lin {
  margin-top: auto;
  width: 1150px;
  height: 800px;
  padding-top: 50px;

  align-self: center;
}

.barg4 {
  display: flex;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  justify-self: center;
  margin-bottom: 150px;
}

.barg5 {
  display: flex;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  justify-self: center;
  padding: 15px;
  background-color: #fff;
}
