.title {
  text-align: center;
  background-color: rgb(76, 187, 172);
  height: 80px;
  align-content: center;
  margin-bottom: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10pxs;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cartbox {
  border: none;
  width: 360px;
  background-color: #82dab5;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: opacity 3s;
}

.cartbox:hover {
  background-color: #48ccf5;
}

.namecart {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.containercart {
  flex: 1;
  max-width: 200px;
}

.gridcart {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
}

.team {
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out,
    margin-left 0.5s ease-out;
}

.team.removing {
  opacity: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.del:hover {
  background-color: rgb(255, 30, 0);
}

.noitems {
  font-weight: bold;
  margin-top: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.totalpay {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: rgb(76, 187, 172);
  text-align: center;
  border-top: 1px solid #ccc;
  overflow-y: auto;
  width: 100%;
  height: 90px;
  align-items: center;
  box-shadow: -1px 0 3px rgb(62, 242, 255);
}

.totalpay button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  width: 160px;
  text-align: center;
  padding: 10px 40px;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 90px;
}

.totalpay button:hover {
  background-color: #0c5986;
}

.totalpay button:active {
  background-color: #0c8286;
}

.cartitem {
  height: 100px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.totalprice {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quanticart {
  padding-right: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.inputnum {
  width: 75px; /* Set the width */
  height: 35px; /* Set the height */
  font-size: 19px; /* Set the font size */
  padding: 5px; /* Adjust the padding */
  background-color: rgb(200, 241, 241);
  border: 1px solid;
}

.price {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #ffaa3b;
  padding: 10px;
  border-radius: 20px;
  width: 90px;
  height: 40px;
  display: inline;
  justify-content: center;
  border: none;
  margin-left: 100px;
}

.del {
  background-color: rgb(255, 0, 0);
  padding: 10px;
  height: 40px;
  width: 90px;
  font-size: 18px;
  display: inline;
  border: none;
  color: white;
  top: -20px;
  left: 255px;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: -110px;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: rgb(112, 233, 148);
  padding: 20px;
  border-radius: 8px;
  height: 640px;
  min-width: 480px;
  width: 520px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.gridresib {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: 0px;
}

.detailsresib {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
