.modal-overlay-complete {
  position: relative;
  right: -80px;
  top: -30px;
  width: 300px;
  height: 150px;
  background: rgba(0, 0, 0, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
}

.modal-content-complete {
  background: rgb(255, 184, 30);
  padding: 20px;
  border-radius: 8px;
  height: 150px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.completeok {
  padding: 10px 15px;
}
